body {
	background-color: #efefef;
	font-size: 14px;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #303030;
}

nav {
	background-color: #0F1D54;
	margin: 0;
	padding: 10px;
}

nav h1 {
	margin-left: 50px;
	color: #ffffff;
}

.filter-container {
	background-color: #0F1D54;
	height: 180px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.filter-container p {
	color: #ffffff;
}

.filter-container button {
	height: 30px;
	width: 90px;
	margin: 5px;
	border-radius: 2px;
}

.main-container {
	display: flex;
}
.results-container {
	background-color: #ffffff;
	width: 70%;
	margin: auto;
	margin-top: 40px;
	padding: 30px;
	border-radius: 5px;
	border: 1px solid #d6d6d6;
	box-shadow: 4px 4px 20px -7px #ccc;

	display: flex;
	flex-direction: column;
}

.results-container h3{
	margin-top: 0px;
}

.results-container img {
	height: 260px;
    width: auto;
}

.movie-info {
	flex-direction: column;
}

.movie-info-section {
	display: flex;
}

.movie-info, .movie-synopsis {
	margin-right: 20px;

	display: flex;
}

.movie-details {
	margin: 10px 10px 10px 30px;
}

.movie-details div {
	margin-bottom: 30px;
}

.movie-details i {
	font-size: 20px;
}

.movie-details span {
	margin-left: 10px;
}

.movie-trailer iframe {
	border: none;
}
