body {
	background-color: #ffffff;
	font-size: 14px;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #303030;
}

nav {
	background-color: #466283;
	margin: 0;
	height: 70px;

	display: flex;
	align-items: center;

}

nav h1 {
	margin-left: 50px;
	color: #ffffff;
}

.filter-container button {
	height: 33px;
	border-radius: 2px;
	cursor: pointer;
	background-color: #ffffff;
}

.filter-buttons {
	display: flex;
}

.genre-filter {
	width: 400px;
	margin-left: 30px;
	font-size: 1em;
	color: #303030;
}

.genre-filter:hover{
	background-color: #20BBE0;
	border-color: #20BBE0;
	color: #ffffff;
}

.roll {
	margin-left: 20px;
	width: 90px;
	font-size: 1em;
	color: #303030;
}

.dropbtn:focus {
    background-color: #20BBE0;
    border: 1px solid #20BBE0;
}    

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 2px;
    margin: 10px 0 0 30px;
}    

.show {
	display:block;
}

.genres {
	display: flex;
	padding: 15px;
}

.lists {
	list-style: none;
	padding: 0px;
	margin: 0;
	width: 150px;
}

.genres li {
	cursor: pointer;
	padding: 10px;
	border: 1px solid transparent;
	margin: 0;
}

li:hover {
	background-color: #63e497;
	border: 1px solid #;
	border-radius: 2px;
}

.active {
	background-color: #63e497;
	border: 2px solid #000000;
}

.blur {
	filter: blur(5px);
}

.results-container {
	background-color: #ffffff;
	margin: auto;
	margin-top: 40px;
	padding: 30px;

	display: flex;
	flex-direction: column;
}

.results-container img {
	height: 450px;
    width: auto;
    margin-right: 20px;
}

h2 {
	margin: 0 0 10px 170px;
}

.main-container {
	display: flex;
	justify-content: center;
}	

.movie-trailer iframe {
	border: none;
}
