html {
	height: 100vh;
	background-color: #171717;
}
body {
	font-size: 14px;
	margin: 0;
	font-family: "Roboto", sans-serif;
	color: #303030;
}

nav {
	background-color: #171717;
	margin: 0;
	height: 70px;
	box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.29);
	position: relative;

	display: flex;
	align-items: center;
}

svg {
	height: 60px;
	margin-left: 40px;
}
nav button {
	height: 33px;
	cursor: pointer;
	font-weight: 300;
}
.mobile-group {
  	display: flex;
  }

@media screen and (max-width:500px) {
  /* CSS for screens that are 320 pixels or less will be put in this section */
  nav {
  	justify-content: space-between;
  	padding-left: 20px;
  	padding-right: 20px;
  }
  nav h1 {
  	margin-left: 0;
  }

  .dropdown-content.show {
  	position: fixed;
  	top: 70px;
  	left: 0;
  	margin: 0;
  }
  .dropdown-content.show .genres {
  	flex-wrap: wrap;
  	padding: 0;
  }
  .dropdown-content.show ul {
  	width: 50%;
  }
  .dropdown-content.show ul li {
  	box-sizing: border-box;
  	font-size: 1.1em;
  	padding: 14px;
  	width: 100%;
  }

  button.genre-filter {
  	margin-left: 10px;
  	width: auto !important;
  }
  button.roll {
  	width: 60px;
  }
  img {
  	height: auto;
  	width: 100%;
  }

  .panel {
  	flex-wrap: wrap;
  }
}

.genre-filter {
	width: 400px;
	margin-left: 30px;
	font-size: 1em;
	color: #303030;
	border-radius: 2px 0 0 2px;
	background-color: #ffffff;
	border-color: transparent;
	box-shadow: inset 0 0 20px 4px #cccccc57;
}

.fa-caret-down {
	margin-left: 5px;
}

.roll {
	width:80px;
	font-size: 1em;
	color: #ffffff;
	border-radius: 0px 2px 2px 0;
	background-color: #20BBE0;
	border-color: #20BBE0;
}

.roll:hover {
	background-color: #189dbd;
	border-color: #189dbd;
}

.dropdown-buttonbtn:focus {
    background-color: #20BBE0;
    border: 1px solid #20BBE0;
}

.rotate {
	transform: rotate(180deg);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 2px;
    margin: 10px 0 0 30px;
}

.show {
	display:block;
}

.genres {
	display: flex;
	padding: 15px;
}

.lists {
	list-style: none;
	padding: 0px;
	margin: 0;
	width: 150px;
}

.genres li {
	cursor: pointer;
	padding: 8px;
	border: 1px solid transparent;
	margin: 0;
}

li:hover {
	background-color: #cfd2d0;
}

.active {
	font-weight: bold;
	color: #20BBE0;
}

.blur {
	filter: blur(3px);
}

/*===== PANEL*/

.panel {
	display: flex;
    height: calc(100vh - 70px);
}

img {
	height: 100%;
}

.right-panel {
	width: 100%;
	background-color: #000000;
}

.right-panel p {
	color: #ffffff;
	font-weight: 300;
	margin: 20px;
}

iframe {
	height: 80%;
	width: 100%;
}

.info {
	padding: 10px;
}

h2 {
	color: #f7f7f7;
	margin: 0 0 0 40px;
	font-weight: 200;
	font-size: 3em;
}

h4 {
	color: #f7f7f7;
	margin: 0 0 0 40px;
	font-weight: 100;
}

.magictime {
	-webkit-animation-duration: 150ms;
	-moz-animation-duration: 150ms;
	-o-animation-duration: 150ms;
	animation-duration: 150ms;
}

/*===== LOADER*/

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
