<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114348285-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-114348285-1');
	</script>
	<title>Movienator</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'magic.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="{% static 'script.js' %}"></script>
</head>
<body>
	<nav>
		<h1>Movienator</h1>
		<div class="dropdown">
			<button class="dropdown-button genre-filter" type="button">Dimelooo qué quieres ver hoy?
				<i class="fas fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<div class="genres">
					<ul class="lists">
						<li>Action / Adventure</li>
						<li>Animation</li>
						<li>Biography</li>
						<li>Comedy</li>
					</ul>
					<ul class="lists">
						<li>Crime / Mystery</li>
						<li>Documentary</li>
						<li>Drama</li>
						<li>Family</li>
					</ul>
					<ul class="lists">
						<li>Fantasy / Sci-Fi</li>
						<li>History</li>
						<li>Horror / Thriller</li>
						<li>International</li>
					</ul>
					<ul class="lists">
						<li>Musical</li>
						<li>Romance</li>
						<li>Sport / Music</li>
						<li>Western</li>
					</ul>
				</div>
			</div>
		</div>
		<button autofocus class="roll" type="button">Roll!</button>
	</nav>
	<div class="spinner">
		<div class="dot1"></div>
		<div class="dot2"></div>
	</div>
	<div class="panel current" style="display: none">
		<img src="https://image.tmdb.org/t/p/original{{ poster_path }}" alt="Movie Poster">
		<div class="right-panel">
			<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/{{ youtube_trailer_key }}"></iframe>
			<div class="info">
				<h2>
					<span class="title">{{ title }}</span>
					(<span class="year">{{ year }}</span>)
				</h2>
				<h4>{{ genres }}</h4>
			</div>
		</div>
	</div>
</body>
</html>
