<!DOCTYPE html>
<html>
<head>
	<title>Movienator</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'magic.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="{% static 'script.js' %}"></script>
</head>
<body>
	<nav>
		<h1>Movienator</h1>
		<div class="dropdown">
			<button class="dropdown-button genre-filter" type="button">Dimelooo qué quieres ver hoy?</button>
			<div class="dropdown-content">
				<div class="genres">
					<ul class="lists">
						<li>Adventure</li>
						<li>Action</li>
						<li>Anime</li>
						<li>Drama</li>
					</ul>
					<ul class="lists">
						<li>Comedy</li>
						<li>Thriller / Suspense </li>
						<li>Horror</li>
						<li>Romantic Comedy</li>
					</ul>
					<ul class="lists">
						<li>Documentary</li>
						<li>Satire</li>
						<li>Western</li>
						<li>Family</li>
					</ul>
					<ul class="lists">
						<li>Musical</li>
						<li>Faith / Spirituality</li>
						<li>Independent</li>
						<li>International</li>
					</ul>
				</div>
			</div>
		</div>
		<button autofocus class="roll" type="button">Roll!</button>
	</nav>
	<div class="panel">
		<img src="https://image.tmdb.org/t/p/original{{ poster_path }}" alt="Movie Poster">
		<div class="right-panel">
			<iframe src="https://www.youtube.com/embed/{{ youtube_trailer_key }}"></iframe>
			<div class="info">
				<h2>{{ title }} ( {{ year }} )</h2>
				<h4>{{ genres }}</h4>
			</div>
		</div>
	</div>
</body>
</html>
